/* Products Container */
.products-container {
  padding: 20px;

}

/* Title Styling */
.products-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: green;
}

/* Description */
.products-description {
  font-size: 1.2rem;
  max-width: 950px;
  /* margin: 0 auto 20px; */
}

/* Products List */
.products-list {
  display: flex;
  /* justify-content: center; */

  gap: 20px;
  flex-wrap: wrap;
}

/* Individual Product Card */
.product-card {
  background: white;
  padding: 21px;
  ;
  border-radius: 8px;

  height: 350px;
  width: 278px;
  margin-left: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border: 2px solid grey;
  box-shadow: 1px green;
}

/* Product Name */
.product-name {
  font-size: 1.5rem;
  color: black;
  margin-bottom: -1px;
  border: 1px solid black;
}


.product-price {
  font-size: 1.2rem;

  border: 1px solid black;

  width: 204px;
  margin-left: 20px;
}

.product-image {
  height: 100px;

  margin-left: 20px;
  width: 100px;
}


.product-qty {


  font-size: 1rem;
  color: gray;
  height: 32px;
  position: relative;
  bottom: 16px;
  border: 1px solid black;

}

.seprate {
  border: 1px solid black;
  height: 208px;
  width: 204px;
}

p {
  margin-top: 0;
  margin-bottom: 0rem;
}